<!DOCTYPE html>
<html lang="en">

<!---------- Header---------->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>Mission to Mars</title>
</head>

<!---------- Body ---------->

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1 style="text-align:center;">Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!---------- Latest News ---------->

    <h2 class="text-center">Latest Mars News:</h2>
    <h3 class="text-center">{{ mars.title }}</h3>
    <h3 class="text-center">{{ mars.paragraph }}</h3>


    <!---------- Featured Image ---------->

    <div class="row bg-info p-4">
      <div class="col-md-6">
        <h2 class="text-center">Featured Mars Image</h2>
        <img src="{{ mars.image }}" alt="Featured">
      </div>

      <!---------- Mars Facts ---------->
      <div class="col-md-6">
        <h2 class="text-center">Mars Facts</h2>
        {{ mars.facts | safe}}
      </div>

    </div>


    <!---------- Mars Hemispheres ---------->
    <h2 style="text-align: center;">Mars Hemispheres</h2>
    <div class="row bg-dark">

      {% for picture in mars.hemis %}
      <div class="col-md-3">
        <img src="{{ picture.url }}" width="100%" alt="Mars Image">
        <h3 class="text-center"> {{ picture.title }} </h3>
      </div>
      {% endfor %}
    </div>









</body>







</html>