<!DOCTYPE html>
<html lang="en">

<!---------- Header---------->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Mission to Mars</title>
</head>

<!---------- Body ----------> 
<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1 style="text-align:center;"><b>Mission to Mars</b></h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <!---------- Latest News ----------> 
    <h2><b>Latest Mars News:</b></h2>
    <h3><b>{{ mars.title }}</b></h3>
    <h3>{{ mars.body }}</h3>


    <!---------- Featured Image ----------> 
    <h2><b>Featured Mars Image</b></h2>
    
    <img src="{{ img.headerimage }}" alt="Featured">


    <!---------- Mars Facts ----------> 
    <h3><b>Mars Facts</b></h3>



    <!---------- Mars Hemispheres ----------> 
    <h2 style="text-align: center;"><b>Mars Hemispheres</b></h2>
    {% for picture in mars.hem_list %}
    <div class="col-md-2">
                <div class="card" style="width: 18px;">
                  <img src="{{ picture.img_url }}"  width="100" height="100" alt="Mars Image" >
                  <div class="card-body">
                    <p class="card-text"> {{ picture.title }}
                  </div>
                </div>
    </div>
  
    {% endfor %}





    
</body>







</html>
   